.btn-primary:hover {
  color: #6858f5;
  background-color: #efeeff;
  border-color: #6858f5;
}

/* yourHeader */
#yourHeader {
  background-image: url("/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#yourHeader .your-header-text {
  h1,
  p {
    text-shadow: 2px 2px 4px #000;
  }
}

// yourContact
#yourContact {
  background: url("/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#yourContact .your-contact-text {
  h2,
  p {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000;
  }
}
