<section
  id="yourContact"
  class="container-fluid text-center py-4"
  id="contact"
>
  <div class="row">
    <div class="your-contact-text col">
      <h2 class="display-4 pb-4 my-4">Get in touch!</h2>
      <p class="lead pb-3">Some message how to get in touch with you.</p>
    </div>
  </div>
  <div class="row">
    <div class="your-contact-button col">
      <a
        href="#"
        class="your-btn-primary btn btn-primary btn-lg rounded-pill mb-4"
        role="button"
        >Contact Us</a
      >
    </div>
  </div>
</section>
