<!-- #yourHeader -->
<header id="yourHeader" class="jumbotron jumbotron-fluid">
  <div class="your-header-content container-fluid text-center text-white">
    <div class="row">
      <div class="your-header-text col">
        <h1 class="display-3">Your Site Tagline</h1>
        <p class="lead pb-4">You can place your site description here.</p>
      </div>
    </div>
    <div class="row">
      <div class="your-header-button col">
        <a
          href="#"
          class="your-btn-primary btn btn-primary btn-lg rounded-pill"
          role="button"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</header>
<!-- end of header -->

<!-- #yourServices -->
<section id="yourServices" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">Your Services</h2>
  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow">
        <img
          class="card-img-top"
          src="/img/card1.jpeg"
          alt="Design"
        />
        <div class="card-body">
          <h4 class="card-title">Your First Service</h4>
          <p class="card-text">
            There are some description about your first service.
          </p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="your-btn-primary-outer btn btn-primary rounded-pill"
            >More Info</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow">
        <img
          class="card-img-top"
          src="/img/card2.jpeg"
          alt="Design"
        />
        <div class="card-body">
          <h4 class="card-title">Your Second Service</h4>
          <p class="card-text">
            There are some description about your second service.
          </p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="your-btn-primary-outer btn btn-primary rounded-pill"
            >More Info</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0 shadow">
        <img
          class="card-img-top"
          src="/img/card3.jpeg"
          alt="Design"
        />
        <div class="card-body">
          <h4 class="card-title">Your Third Service</h4>
          <p class="card-text">
            There are some description about your third service.
          </p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="your-btn-primary-outer btn btn-primary rounded-pill"
            >More Info</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of #yourServices -->
